{% load static %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Bennet Steem</title>
        <link rel="icon" type="image/jpeg" href="{% static 'Home/images/profile_photo.jpeg' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="UTF-8">
        <meta name="author" content="Bennet Steem | bennet.steem@gmail.com">
        <meta name="keywords" content="Bennet Steem, portfolio, Bennet, Steem, developer website, web developer">
        <link rel="stylesheet" href="{% static 'Home/styles.css' %}">
        <script src="https://kit.fontawesome.com/3d7f0ebe91.js" crossorigin="anonymous"></script>
        <script src="{% static 'Home/main.js' %}"></script>
        <meta name="description" content="This website is designed to showcase Bennet Steem's portfolio, and work, including education, projects, and experience to the world.">
    </head>
    <body>
        <div class="main">
            <div class="container" id="intro-background"s>
                <h1 class="center" id="intro-text">Hi, I am Bennet Steem</h1>
            </div>
            <div class="container" id="about-background">
                <h2 class="center" id="about">About Me</h2>
                <p class="center"> I am a Computing Science undergraduate student at the University of Alberta. I recently took an internship at Tango Networks Inc. where I used my problem-solving aptitude, understanding of python, and networking skills to; program and troubleshoot devices</p>
            </div>
        </div>
        <div id="contact-info">
            <button id="exit-contact"><i class="fa-solid fa-xmark"></i></button>
            <p id="contact" class="center">Contact Info</p>
            <ul id="contact-list">
                <li> <i class="fa-brands fa-linkedin fa-fw"></i>  <a id='linkedin' href="https://www.linkedin.com/in/bennet-steem-394289232/"> LinkedIn</a></li>
                <li><i class="fa-solid fa-envelope fa-fw"></i> bennet.steem@gmail.com</li>
                <li><i class="fa-brands fa-square-github fa-fw"></i> github</li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-bars fa-fw"></i><i id="menu"> Menu</i></button>
            <div class="dropdown-content">
                <a id="home-btn" href="#">Home</a>
                <a id="about-btn" href="#about-background">About</a>
                <a id="contact-btn">Contact</a>
            </div>
        </div>
    </body>
</html>